/main_summary.html
/_work
/iseconfig
*.mem
*.twx
*.pyc
/main.cmd_log
/ipcore_dir/_xmsgs
/ipcore_dir/*.asy
/ipcore_dir/*.v
/ipcore_dir/*.ncf
/ipcore_dir/*.bmm
/ipcore_dir/*.sym
/ipcore_dir/*.veo
/ipcore_dir/*.txt
/ipcore_dir/*.tcl
/ipcore_dir/*.gise
/ipcore_dir/*.ngc
/ipcore_dir/*.log
/ipcore_dir/*.xml
/ipcore_dir/*.elf
/ipcore_dir/tmp
/ipcore_dir/workspace/.metadata
/ipcore_dir/workspace/*/Debug
/ipcore_dir/workspace/*/Release
/ipcore_dir/workspace/*/*.log
/ipcore_dir/workspace/bsp_0/cpu/
/ipcore_dir/workspace/sw_0/src/descs.h
/ipcore_dir/cpu/
/ipcore_dir/sample_fifo/
/ipcore_dir/usb_mem/
