

NET "clk_33" LOC = P134;


NET "clk_33" IOSTANDARD = LVCMOS33;


NET "led[0]" LOC = P139;
NET "led[1]" LOC = P138;
NET "led[2]" LOC = P133;


NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;


NET "usb_dp" LOC = P59;
NET "usb_dn" LOC = P56;
NET "usb_sp" LOC = P58;
NET "usb_pullup" LOC = P67;


NET "usb_sp" IOSTANDARD = LVDS_33;
NET "usb_pullup" IOSTANDARD = LVCMOS33;
NET "usb_dp" IOSTANDARD = LVCMOS33;
NET "usb_dn" IOSTANDARD = LVCMOS33;


NET "vio50" LOC = P45;
NET "vio33" LOC = P44;


NET "vio33" IOSTANDARD = LVCMOS33;
NET "vio50" IOSTANDARD = LVCMOS33;

NET "spi_clk" LOC = P70;
NET "spi_mosi" LOC = P64;
NET "spi_miso" LOC = P65;
NET "spi_cs" LOC = P38;


NET "spi_clk" IOSTANDARD = LVCMOS33;
NET "spi_cs" IOSTANDARD = LVCMOS33;
NET "spi_miso" IOSTANDARD = LVCMOS33;
NET "spi_mosi" IOSTANDARD = LVCMOS33;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2014/09/07
NET "clk_33" TNM_NET = clk_33;
TIMESPEC TS_clk_33 = PERIOD "clk_33" 30 ns HIGH 50%;
NET "dna0_clk" TNM_NET = dna0_clk;
